body {
  background-image: url("/assets/img/south-bank-honest-burgers-restaurant-3 (1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  color: white;
}

li {
  padding: 5px;
  margin: 5px;
  background: black;
  border-radius: 15px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


.hero-burger {
  text-align: center;
}

img {
  border-radius: 65%;
  height: 250px;
  width: 350px;
}

.burgers-to-try {

}

.burgers-devoured{

}

.add-burger {
  text-align: center;
}

.btn {
  border-radius: 25px;
}